###Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

    оценка 2 и ниже — низкий рейтинг;
    оценка 4 и ниже — средний рейтинг;
    оценка 4.5 и 5 — высокий рейтинг.

Результат классификации запишите в столбец class.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/ml-latest-small/ratings.csv')
df_movies = pd.read_csv('/content/drive/MyDrive/ml-latest-small/movies.csv')
df = df.merge(df_movies, left_on='movieId', right_on='movieId', how='inner')[['movieId', 'title', 'rating']]
df.head()

   movieId                   title  rating
0       31  Dangerous Minds (1995)     2.5
1       31  Dangerous Minds (1995)     3.0
2       31  Dangerous Minds (1995)     4.0
3       31  Dangerous Minds (1995)     4.0
4       31  Dangerous Minds (1995)     3.0

In [3]:
df_rating = pd.pivot_table(df, index=['movieId', 'title'], values='rating', aggfunc='mean').reset_index()
df_rating.head()

   movieId                               title    rating
0        1                    Toy Story (1995)  3.872470
1        2                      Jumanji (1995)  3.401869
2        3             Grumpier Old Men (1995)  3.161017
3        4            Waiting to Exhale (1995)  2.384615
4        5  Father of the Bride Part II (1995)  3.267857

In [4]:
def movie_class(rating):
  if rating <= 2:
    rating_class = 'Низкий рейтинг'
  elif rating >= 4.5:
    rating_class = 'Высокий рейтинг'
  else:
    rating_class = 'Средний рейтинг'
  return rating_class

In [5]:
df_rating['class'] = df_rating['rating'].apply(movie_class)
df_rating.head()

   movieId                               title    rating            class
0        1                    Toy Story (1995)  3.872470  Средний рейтинг
1        2                      Jumanji (1995)  3.401869  Средний рейтинг
2        3             Grumpier Old Men (1995)  3.161017  Средний рейтинг
3        4            Waiting to Exhale (1995)  2.384615  Средний рейтинг
4        5  Father of the Bride Part II (1995)  3.267857  Средний рейтинг

### Задание 2
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [7]:
df = pd.read_csv('/content/drive/MyDrive/ml-latest-small/keywords.csv')
df.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [8]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [9]:
def geo(row):
  row_list = row.split(' ')
  region = 'undefined'
  for i in row_list:
    for a, b in geo_data.items():
      if i in b:
        return a

In [10]:
df['region'] = df['keyword'].apply(geo)
df[df['region'] == 'Центр']

                                                keyword   shows region
127                                        авито москва  979292  Центр
849                                     авито ярославль  209581  Центр
1259                                             москва  153050  Центр
1396                                    гисметео москва  140279  Центр
1482                                   госуслуги москва  133061  Центр
...                                                 ...     ...    ...
98943  вакансии на авито москва от прямых работодателей    3738  Центр
99292                      афиша кино москва на сегодня    3704  Центр
99590             авито ярославль автомобили с пробегом    3673  Центр
99890                               яндекс метро москва    4548  Центр
99922                                 авто ру ярославль    3712  Центр

[384 rows x 3 columns]