Задание:


1.   Запустите Google Colaboratory.
2.   На боковой панели нажмите на значок с изображением папки — при наведении он будет подписан как «файлы». Ничего не открывая и не меняя в панели, перетащите скачанный CSV-файл с данными в эту область.
3. Подключите библиотеку pandas, выполнив ячейку с кодом из лекции: import pandas as pd.
4. Загрузите CSV-файл в pandas-датафрейм, с помощью команды df = pd.read_csv(‘…’) указав вместо «…» необходимые параметры.
5. Выведите общую статистику: минимальное, среднее и максимальное значение трат, без учёта категорий. Для этого воспользуйтесь командой describe().
6. Сгруппируйте данные по категориям и вычислите суммарные затраты в каждой из них. Для этого воспользуйтесь командами groupby() и sum() по аналогии с тем, как мы делали на лекции.

Подключение библиотеки Pandas и импорт CSV-файла

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Home Accounting.csv', sep=',')

Вывод общей статистики

In [ ]:
df.head()

,Отметка времени,Номер месяца,Месяц операции,Название операции,Сумма,Категория трат,Регулярная трата
0,2/26/2022 16:30:42,1,Январь,Картошка-фри,100.0,Кафе и фастфуд,ЛОЖЬ
1,2/26/2022 16:31:02,5,Май,Телевизор,20000.0,"Дом, ремонт",ЛОЖЬ
2,2/26/2022 16:31:20,10,Октябрь,Продукты на ужин,3000.0,Супермаркеты и магазины,ИСТИНА
3,2/26/2022 16:31:39,8,Август,Эчпочмак,50.0,Кафе и фастфуд,ИСТИНА
4,2/26/2022 16:32:08,6,Июнь,Сухоцветы,500.0,Другое,ЛОЖЬ

In [ ]:
df.describe()

       Номер месяца         Сумма
count     37.000000     37.000000
mean       5.783784   1237.567568
std        3.163464   3325.670889
min        1.000000     30.000000
25%        3.000000    200.000000
50%        6.000000    500.000000
75%        8.000000    700.000000
max       12.000000  20000.000000

In [ ]:
df_small = df[['Сумма','Категория трат']]

Вывод суммарных затрат в каждой категории

In [ ]:
df_small.groupby('Категория трат').sum()

                           Сумма
Категория трат
Дом, ремонт              30640.0
Другое                    3390.0
Кафе и фастфуд            2150.0
Переводы                  4965.0
Супермаркеты и магазины   4645.0