Задание:

Рассмотрим пример использования машинного обучения для домашней бухгалтерии. Применим машинное обучение для предсказания стоимости медицинской страховки для человека.

Для вас собрали и подготовили датасет с данными и шаблон в Colab-ноутбуке, который необходимо дополнить кодом.


Что нужно сделать:
1. перейдите по ссылке;
2. скопируйте ноутбук;
3. при нажатии «Скопировать на диск» Colab-ноутбук с шаблоном откроется в новом окне, работать необходимо в копии:
4. пункты задания находятся внутри ноутбука — они идут по порядку выполнения ячеек кода, комментарии начинаются с #;
5. результат выполненного задания — готовый ноутбук с предсказанием по конкретному человеку.

# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
# Загрузите данные из файла insurance.csv в переменную df
df = pd.read_csv('insurance.csv', sep=',')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
X, y = df[['age', 'sex', 'bmi', 'children', 'smoker',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest']],df['charges']

In [ ]:
X

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,0,0,0,1
1,18,1,33.770,1,0,0,0,1,0
2,28,1,33.000,3,0,0,0,1,0
3,33,1,22.705,0,0,0,1,0,0
4,32,1,28.880,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0,1,0,0
1334,18,0,31.920,0,0,1,0,0,0
1335,18,0,36.850,0,0,0,0,1,0
1336,21,0,25.800,0,0,0,0,0,1
1337,61,0,29.070,0,1,0,1,0,0

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
1311,33,0,26.695,0,0,0,1,0,0
925,50,1,32.110,2,0,1,0,0,0
264,53,0,38.060,3,0,0,0,1,0
984,20,1,30.115,5,0,1,0,0,0
267,59,0,32.395,3,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
526,19,0,30.590,2,0,0,1,0,0
100,41,0,31.600,0,0,0,0,0,1
1120,23,0,31.400,0,1,0,0,0,1
402,64,0,32.965,0,0,0,1,0,0
764,45,0,25.175,2,0,1,0,0,0

In [ ]:
X_test

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
770,61,1,36.100,3,0,0,0,0,1
418,64,1,39.160,1,0,0,0,1,0
888,22,1,39.500,0,0,0,0,0,1
723,19,1,35.400,0,0,0,0,0,1
28,23,1,17.385,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
353,33,1,35.245,0,0,1,0,0,0
120,44,1,37.100,2,0,0,0,0,1
569,48,1,40.565,2,1,0,1,0,0
22,18,1,34.100,0,0,0,0,1,0
1222,50,1,25.300,0,0,0,0,1,0

In [ ]:
y_train

1311     4571.41305
925     25333.33284
264     20462.99766
984      4915.05985
267     14590.63205
           ...
526     24059.68019
100      6186.12700
1120    34166.27300
402     14692.66935
764      9095.06825
Name: charges, Length: 1070, dtype: float64

In [ ]:
y_test

770     27941.28758
418     14418.28040
888      1682.59700
723      1263.24900
28       2775.19215
           ...
353     12404.87910
120      7740.33700
569     45702.02235
22       1137.01100
1222     8442.66700
Name: charges, Length: 268, dtype: float64

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создайте и обучите модель
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([  246.7103089 ,    54.26164516,   335.81720717,   390.37034121,
       24065.9223987 ,   593.42445314,   313.74419148,  -333.77745175,
        -573.39119286])

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание
lr.predict(X_test)

array([15856.08039247, 17082.68503179,  6205.04582599,  4088.06434989,
         302.66432392, 13764.53101166,   912.10528756, 39036.41513656,
       14381.16786352,  5919.92282914,  8170.04766409,  7216.9742917 ,
        8474.01297692,  4925.19725139, 32094.23607116,  6225.76762619,
       27319.85714424, 25600.00855131, 12679.76030269,  9467.2410686 ,
       15371.68134893, 38661.10431463, 10182.66611032,  5289.37883589,
        6416.09958917,  8999.30176698,  7500.68934528, 28961.28111673,
       18536.64318813, 14663.03865315, 11075.93343687, 35988.66235686,
       31236.0118802 , 15120.85129921, 25660.70133767, 23499.02936522,
       13148.62282494, 11176.05776026, 39965.76061971, 14576.71248323,
        6921.6502363 ,  3929.00874408, 17283.66366029,  5281.67658581,
       11183.69756322,  6648.27355   , 11587.84380504,  4715.66230365,
        8128.39773008,  4745.64131312, 31860.92651317,  8055.14991444,
        3801.46634014,  6566.48617562, 13077.40878323,  4588.85394385,
        5992.90555923, 10230.16923882,  4610.49204936, 16418.90002759,
       39301.20357695,  2434.74256201,  6436.38969599,  9029.05413947,
       34010.56905394, 14004.60549848, 27570.31744012, 10034.03431871,
        4564.98181035,  5261.54256571, 10408.38303535,  9568.11896832,
        9005.58981631,  3651.50198058,  6726.7779585 , 37395.98467496,
       36346.76929578,  6926.42260912,  7950.18353554,  8605.90439464,
       37271.02273478,  1977.74609549,  9743.36640769, 12470.12226567,
        9063.4835791 , 14626.7780494 , 37418.22127356, 11737.66560435,
        3812.4240494 , 12698.37738069,  8745.88897637, 31334.99415731,
       16918.38573881, 10511.41616661,  9083.47147335,  2127.71424093,
       11252.62021474, 12211.60345279,  6255.52982138, 15118.02441716,
        1893.4650905 ,  7308.31676585, -1520.11682036, 14985.27275754,
       35273.8112042 , 33734.01109798, 38909.90937891, 10124.55101339,
       27434.82558233,  5602.64701962,  6705.37446449, 11380.51050695,
       11363.76886748, 34882.62001928,  5676.08046407,  5079.50809375,
        4395.64410936,  2592.76666233,  9134.0430536 ,  3915.09968999,
       11441.74351595,  9398.0375137 , 14481.46541896,  8679.89912058,
        7910.80652473, 32910.88264083,  3921.18960773, 13956.95080062,
       35837.11239477,  3819.29651138, 14462.36955985,  5246.40430348,
        6049.39733082, 12001.26191   ,  7368.08557969,  9294.9235065 ,
       11883.46327338,  1895.23879923,  9009.75662253,  4481.95375225,
       12426.69165401, 29824.80352108,  7017.58374312, 32036.93667119,
       36179.7663584 , 12526.52435033,  3786.38156742,  4349.009526  ,
       11995.84709742,  7234.15191551, 12975.25068591, 13165.59337257,
        4289.13493667, 15501.58916577,  8230.1638743 , 10764.81062841,
       10677.46901995, 37153.7465236 , 31476.54821255, 13668.69315492,
       13858.90610459, 14257.7264022 , 13406.23078285,  6178.04631284,
        4520.42697003, 40349.52401361,  3785.26416088,  9019.63213957,
        6541.81703035,  5963.33971654,  9692.25234416,  5029.46691344,
         872.58078071, 28683.85209517,  4771.37852836, 10322.01347039,
       13658.09293633,   680.09765455,  2281.59971765, 23779.32139484,
        6953.33772028, 15512.67523937,  8381.5186338 ,  8882.70320392,
       16568.52407539,  5147.58391643,  7428.94469388,  8498.22582018,
        5992.96637138, 14886.00993092, 28344.92189131,  8740.45636659,
       15769.72076589,  6555.54045562, 32176.13019569,  8815.21850875,
       10625.20220214, 12043.66368535,  8856.70865474, 12916.85442578,
       25581.09604966, 33784.21785422, 31535.87625042,  4261.66324159,
       11825.64825355, 12020.37516831, 16144.63242761, 35226.22809578,
        4551.22190517,  8583.71485074, 36318.15896956,  8210.21638401,
       11533.55201952, 27680.13328174,  5571.84486645,   -53.66294311,
       12306.6601061 ,  1686.1616789 , 34352.41006136,  6033.27869668,
       36538.16857683,  6407.54969404, 31365.08824534, 17622.34387552,
        3724.75700333, -1150.68408193, 28927.61181114, 32014.91093464,
        3801.39680159,  9530.84998547,  5724.78782155, 10735.43143121,
        8361.95485031,  4940.85099531, 26736.72406156,  2216.68686444,
       33112.00879894,  8516.47154507,  8633.52615032,  7204.18354514,
        6446.11984999,  4199.99841173,  9317.21070725,  5119.86108283,
        9533.99476433, 11920.28303617,  5394.99492833,  3359.91896775,
       15123.53450431,  2957.60458222, 16337.76798551, 11418.40263927,
        5848.97926036, 26284.88524298, 26764.49208127,  9934.05625935,
       13340.97076464,  9585.02037541, 30834.2184258 ,  5480.47905156,
       14329.27747278,  4315.89042434,  3315.68477341,  8656.77265342,
       11607.45200708, 38710.95764856,  3644.40541278,  8583.94387459])

In [ ]:
pd.DataFrame([y_test.values, lr.predict(X_test)]).T

               0             1
0    27941.28758  15856.080392
1    14418.28040  17082.685032
2     1682.59700   6205.045826
3     1263.24900   4088.064350
4     2775.19215    302.664324
..           ...           ...
263  12404.87910   8656.772653
264   7740.33700  11607.452007
265  45702.02235  38710.957649
266   1137.01100   3644.405413
267   8442.66700   8583.943875

[268 rows x 2 columns]

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки
mean_squared_error(y_test, lr.predict(X_test))

35960272.52413388

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

36735836.98055623

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,20,1,30,2,1,0,0,1,0

In [ ]:
lr.predict(df_person)

array([27607.63856232])