### Задание 1

Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

*   среднюю букву, если число букв в слове нечетное;
*   две средних буквы, если число букв четное.

### Решение

In [3]:
word = input('Введите слово: ')
print(word[(len(word)-1)//2:(len(word)+2)//2])

Введите слово: test
es

### Задание 2

Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

### Решение

In [4]:
x = int(input('Введите число: '))
total = 0

while x != 0:
  total += x
  x = int(input('Введите число: '))
  
print('Результат: ', total)

Введите число: 1
Введите число: 2
Введите число: 3
Введите число: 0
Результат:  6

### Задание 3

Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

Пример работы программы:

    boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
    girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Результат:

    Идеальные пары:  
    Alex и Emma  
    Arthur и Kate  
    John и Kira  
    Peter и Liza  
    Richard и Trisha 

Пример работы программы:

    boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
    girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Результат:

    Внимание, кто-то может остаться без пары!

### Решение

In [5]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys)==len(girls):
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for couples in dating:
        print(f"Идеальные пары: {couples[0]} и {couples[1]}")
else:
    print("Кто то может остаться без пары")

Идеальные пары: Alex и Emma
Идеальные пары: Arthur и Kate
Идеальные пары: John и Kira
Идеальные пары: Peter и Liza
Идеальные пары: Richard и Trisha

### Задание 4

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Пример работы программы:

    countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
    ]

Результат:

    Средняя температура в странах:
    Thailand  -  23.9 С
    Germany  -  13.8 С
    Russia  -  3.7 С
    Poland  -  12.0 С

### Решение

In [6]:
countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for i in countries_temperature:
    average_temp = sum(i[1]) / len(i[1])
    print(f"Средняя температура в {i[0]} - {round((average_temp - 32)*5/9, 1)} C")

Средняя температура в Таиланд - 23.9 C
Средняя температура в Германия - 13.8 C
Средняя температура в Россия - 3.7 C
Средняя температура в Польша - 12.0 C