### Задание 1

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

    The Moscow Times — Wednesday, October 2, 2002
    The Guardian — Friday, 11.10.13
    Daily News — Thursday, 18 August 1977

### Решение

In [1]:
from datetime import datetime as dt

MT = 'Wednesday, October 2, 2002'
TG = 'Friday, 11.10.13'
DN = 'Thursday, 18 August 1977'

MT_dt = dt.strptime(MT, '%A, %B %d, %Y')
TG_dt = dt.strptime(TG, '%A, %d.%m.%y')
DN_dt = dt.strptime(DN, '%A, %d %B %Y')

MT_dt, TG_dt, DN_dt

(datetime.datetime(2002, 10, 2, 0, 0),
 datetime.datetime(2013, 10, 11, 0, 0),
 datetime.datetime(1977, 8, 18, 0, 0))

### Задание 2

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:

    stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

### Решение

In [2]:
def test_date(stream):
  for date in stream:
    try:
      dt.strptime(date, '%Y-%m-%d')
      print(f'{date} дата корректна')
    except:
      print(f'{date} некорректная дата')

In [3]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
test_date(stream)

2018-04-02 дата корректна
2018-02-29 некорректная дата
2018-19-02 некорректная дата

### Задание 3

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

### Решение

In [13]:
from datetime import timedelta
import pprint

def date_range(start_date, end_date):
  date_list = []
  
  try:
    start_date_dt = dt.strptime(start_date, '%Y-%m-%d')
    end_date_dt = dt.strptime(end_date, '%Y-%m-%d')
    while start_date_dt <= end_date_dt:
      date_list.append(start_date_dt.strftime('%Y-%m-%d'))
      start_date_dt += timedelta(days = 1)
  except:
    return []
  pprint.pprint(date_list)

In [14]:
date_one = input('Дата в формате YYYY-MM-DD: ')
date_two = input('Дата в формате YYYY-MM-DD: ')

date_range(date_one, date_two)

Дата в формате YYYY-MM-DD: 2022-01-01
Дата в формате YYYY-MM-DD: 2022-01-15
['2022-01-01',
 '2022-01-02',
 '2022-01-03',
 '2022-01-04',
 '2022-01-05',
 '2022-01-06',
 '2022-01-07',
 '2022-01-08',
 '2022-01-09',
 '2022-01-10',
 '2022-01-11',
 '2022-01-12',
 '2022-01-13',
 '2022-01-14',
 '2022-01-15']