### Домашнее задание

  1. Переведите содержимое файла purchase_log.txt в словарь purchases вида:

    {‘1840e0b9d4’: ‘Продукты’, …}

  2. Для каждого user_id в файле visit_log.csv определите третий столбец с категорией покупки, если покупка была, сам файл visit_log.csv изменять не надо. Запишите в файл funnel.csv визиты из файла visit_log.csv, в которых были покупки с указанием категории.

  Учтите условия на данные:
  содержимое purchase_log.txt помещается в оперативную память компьютера;
  cодержимое visit_log.csv — нет; используйте только построчную обработку этого файла.

### Решение 1-го задания.

In [ ]:
import json
purchase_dict = {}
i = 0

with open('/content/drive/MyDrive/Colab Notebooks/purchase_log.txt') as f_purchase:
  for line in f_purchase:
    line = line.strip() 
    dict_ = json.loads(line)
    purchase_dict[dict_['user_id']] = dict_['category']

for items in purchase_dict.items():
  print(items)
  i += 1
  if i > 10:
    break

('user_id', 'category')
('1840e0b9d4', 'Продукты')
('4e4f90fcfb', 'Электроника')
('afea8d72fc', 'Электроника')
('373a6055fe', 'Бытовая техника')
('9b2ab046f3', 'Электроника')
('9f39d307c3', 'Электроника')
('44edeffc91', 'Продукты')
('704474fa2d', 'Продукты')
('1de31be403', 'Бытовая техника')
('b71f36a5e4', 'Продукты')

### Решение 2-го задания.

In [ ]:
with open('/content/drive/MyDrive/Colab Notebooks/visit_log.csv', 'r') as visit_log:
  with open('funnel.csv', 'w') as funnel:
    for line in visit_log:
      visits = line.strip().split(',')
      if visits[0] in purchase_dict.keys():
        visits.append(purchase_dict[visits[0]])
        funnel.write(','.join(visits) + '\n')

In [ ]:
import pandas as pd
df = pd.read_csv('/content/funnel.csv')
df

          ['user_id'    'source'                 'category']
0      ['1840e0b9d4'     'other'                 'Продукты']
1      ['4e4f90fcfb'   'context'              'Электроника']
2      ['afea8d72fc'     'other'              'Электроника']
3      ['2824221f38'     'email'                 'Продукты']
4      ['373a6055fe'     'other'          'Бытовая техника']
...              ...         ...                         ...
13793  ['cb2da172f8'     'other'   'Строительство и ремонт']
13794  ['047fbda813'     'other'          'Бытовая техника']
13795  ['cf797f912d'     'other'          'Бытовая техника']
13796  ['9ff57c335f'   'context'      'Товары для животных']
13797  ['bdc8054507'     'other'              'Электроника']

[13798 rows x 3 columns]